create database ProjectStndrd;
GO
USE [ProjectStndrd]
GO
/****** Object:  Table [dbo].[ProjectStrd]    Script Date: 11/14/2017 06:21:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectStrd](
	[GRID] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[ProjectStrd] ([GRID]) VALUES (N'A.1')
GO
INSERT [dbo].[ProjectStrd] ([GRID]) VALUES (N'A.2')
GO
INSERT [dbo].[ProjectStrd] ([GRID]) VALUES (N'A.3')
GO

GO
